<div class="cart-container">
  <div class="cart-content">
    {if="count($cart) > 0"}
    <div class="cart-content-items">
      {loop="$cart"}
      <div class="box">
        <div class="picture">
          <img src="./assets/produtos/{$value.product_pictures[0]}" alt="Imagem do produto {$value.product_name} | Ref {$value.product_ref}">
        </div>
        <div class="info">
          <p class="title">{$value.product_name}</p>
          <div class="action">
            <p class="remove" onclick="removeCart({$value.product_id})">Excluir</p>
          </div>
        </div>
        <div class="quantity">
          <p>{$value.quantity}</p>
        </div>
        <div class="price">
          {$percentage = getPricePercentage($value.product_price, $value.product_price_off)}
      
          {$price = formatMoney($value.product_price)}

          {if="$value.product_price_off != NULL"}
          {$priceOff = formatMoney($value.product_price_off)}
          <span class="old-price">
            <span class="discount">{$percentage}%</span>
            <s>R$ {$price}</s>
          </span>
          <span>R$ {$priceOff}</span>
          {else}
          <span>R$ {$price}</span>
          {/if}

        </div>
      </div>
      {/loop}
    </div>
    <div class="cart-content-info">
      <div class="cart-info">
        <p>Produtos <span>{$quantity}</span></p>
        <p>Total <span>R$ {function="formatMoney($total)"}</span></p>
      </div>
    </div>
    <div class="cart-content-info">
      <a href="checkout" class="btn btn-circle btn-blue btn-medium">Continuar a compra</a>
    </div>
    {else}
      <div class="cart-content-items">
        <div class="empty">
          <h2>O seu carrinho está vazio</h2>
          <p>Clique <a href="/produtos">aqui</a> para ver nossa pagina de produtos</p>
        </div>
      </div>
    {/if}
  </div>
</div>