{$siteData = $GLOBALS["siteData"]}  
  <div class="distributor">
    <div class="distributor-slider">
      {$distributors = getDistributors()}
      {loop="$distributors"}
      <a href="/distribuidor/{$value.distributor_href}">
        <img src="./assets/distribuidores/{$value.distributor_logo}" alt="Logo da empresa {$value.distributor_name}">
      </a>
      {/loop}
    </div>
    <div class="distributor-controls">
      <span id="left"><i class="icofont-thin-left"></i></span>
      <span id="right"><i class="icofont-thin-right"></i></span>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-logo">
      <a href="./">
        <img src="./assets/img/{$siteData['site_data_logo']}" alt="Logo da {$siteData['site_data_name']}">
      </a>
    </div>
    <div class="footer-info">
      <ul>
        <li><i class="icofont-google-map"></i> Endereço: <span>{$siteData["site_data_address"]}</span></li>
        <li><i class="icofont-id-card"></i> CNPJ: <span>{$siteData["site_data_cnpj"]}</span></li>
        <li><i class="icofont-files-stack"></i> Inscrição Estadual: <span>{$siteData["site_data_ie"]}</span></li>
      </ul>
    </div>
    <div class="footer-contact">
      <ul>
        <li><i class="icofont-phone"></i> Tel: <span>{$siteData["site_data_tel"]}</span></li>
        <li><i class="icofont-ui-email"></i> E-mail: <span>{$siteData["site_data_email"]}</span></li>
        <li><i class="icofont-clock-time"></i> Horário de funcionamento: <span>{$siteData["site_data_oh"]}</span></li>
      </ul>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

  <script type="text/javascript" src="./assets/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="./assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="./assets/js/slick.min.js"></script>

  <script src="./assets/js/script.min.js?id={function="rand()"}"></script>
</body>
</html>