{$siteData = $GLOBALS["siteData"]}  
  <div class="distributor">
    <div class="distributor-slider">
      {$distributors = getDistributors()}
      {loop="$distributors"}
        {if="$value.distributor_id > 0"}
        <a href="/distribuidor/{$value.distributor_href}">
          <picture>
            {$images = getImages($value.distributor_logo)}
            <source srcset="./assets/distribuidores/{$images['webp']}" type="image/webp">
            <source srcset="./assets/distribuidores/{$images['jpg']}" type="image/jpeg"> 
            <img src="./assets/distribuidores/{$images['jpg']}" alt="Logo da empresa {$value.distributor_name}">
          </picture>
        </a>
        {/if}
      {/loop}
    </div>
    <div class="distributor-controls">
      <span id="left"><i class="icofont-thin-left"></i></span>
      <span id="right"><i class="icofont-thin-right"></i></span>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-logo">
      <a href="./">
        <picture>
          {$images = getImages($siteData['site_data_logo'])}
          <source srcset="./assets/img/{$images['webp']}" type="image/webp">
          <source srcset="./assets/img/{$images['jpg']}" type="image/jpeg"> 
          <img src="./assets/img/{$images['jpg']}" alt="Logo da {$siteData['site_data_name']}">
        </picture>
      </a>
    </div>
    <div class="footer-info">
      <ul>
        <li><i class="icofont-google-map"></i> Endereço: <span>{$siteData["site_data_address"]}</span></li>
        <li><i class="icofont-id-card"></i> CNPJ: <span>{$siteData["site_data_cnpj"]}</span></li>
        <li><i class="icofont-files-stack"></i> Inscrição Estadual: <span>{$siteData["site_data_ie"]}</span></li>
      </ul>
    </div>
    <div class="footer-contact">
      <ul>
        <li><i class="icofont-phone"></i> Tel: <span>{$siteData["site_data_tel"]}</span></li>
        <li><i class="icofont-ui-email"></i> E-mail: <span>{$siteData["site_data_email"]}</span></li>
        <li><i class="icofont-clock-time"></i> Horário de funcionamento: <span>{$siteData["site_data_oh"]}</span></li>
      </ul>
    </div>
    <div class="footer-info">
      <ul>
        <li><span><strong>Formas de pagamento</strong></span></li>
        <li class="payments">
          <i class="icofont-real"></i>
          <i class="icofont-elo"></i>
          <i class="icofont-american-express"></i>
          <i class="icofont-visa"></i>
          <i class="icofont-mastercard"></i>
        </li>
      </ul>
    </div>
  </footer>
  <div class="footer-rights">
    {$year = 2020}
    {$cyear = date('Y')}
    <p>&copy; Todos os direitos reservados para {$siteData["site_data_name"]} - {$year} {if="$cyear != $year"} - {$cyear} {/if}</p>
  </div>

  <script src="./assets/js/sweetalert2@9.js"></script>

  <script type="text/javascript" src="./assets/js/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="./assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="./assets/js/slick.min.js"></script>

  <script src="./assets/js/script.min.js?v={$GLOBALS['version']}"></script>
</body>
</html>