{$clientOn = isset($_SESSION['client'])}
{$siteUrl = getSiteUrl()}

<div class="container">
  <div class="slide">
    <div class="controls">
      <span><i class="icofont-thin-left"></i></span>
      <span><i class="icofont-thin-right"></i></span>
    </div>
    <div class="container-header-slider">
      {loop="$sliders"}
        {$verify = strpos($value.slider_href, $siteUrl)}
        {if="$value.slider_status == 1"}
        <a class="banner" {if="$value.slider_href != NULL"}href="{$value.slider_href}"{/if} {if="$verify === false"}rel="noreferrer"{/if}>
          <img src="./assets/banner/{$value.slider_img}" alt="{$value.slider_description}">
        </a>
        {/if}
      {/loop}
    </div>
  </div>

  <div class="departments">
    <h2>Departamentos</h2>
    <div class="departments-container">
      {loop="$departments"}
      <a class="box" href="/produtos/departamento/{$value.department_href}">
        <div class="icon">
          <i class="{$value.department_icon}"></i>
        </div>
        <div class="text">
          <p>{$value.department_text}</p>
        </div>
      </a>
      {/loop}
    </div>
  </div>
</div>

<div class="products-card">
  <div class="card-container">

    {$color = array("", "red", "orange")}

    {loop="$cards"}
    
    <a class="card" href="produtos/departamento/{$value.url}">
      <div class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340.931 175.06">
          <path class="card-svg-header {$color[$key]}" d="M113,6042.624s87.134,78.225,173.486,44.7,89.451-108.392,131.993-143.073c9.711-9.248,35.452-23.635,35.452-23.635L113,5920.971Z" transform="translate(-113 -5920.615)"/>
          
          {$price = formatMoney(floatval($value.price))}
          {$price = explode(",", $price)}

          <text x="60" y="50">{$value.title}</text>
          <text x="60" y="90">a partir de</text>
          <text x="60" y="135" class="textrice">R$ <tspan >{$price[0]}</tspan ><tspan >,{$price[1]}</tspan ></text>
        </svg>
      </div>
      <div class="card-image">
        <img src="./assets/cards/{$value.picture}" alt="Foto do card de {$value.title}">
      </div>
    </a>

    {/loop}

  </div>
</div>

{if="count($prodOffers) > 0"}
<div class="products-box">
  <div class="products-box-header">
    <div class="title">
      <p>Ofertas</p>
    </div>
  </div>

  <div class="product-box-container" id="products-off">
    {loop="$prodOffers"}
    {$name = filterName($value.product_name)}
    
    {$percentage = getPricePercentage($value.product_price, $value.product_price_off)}
    
    {$price = formatMoney($value.product_price)}
    {$price = explode(",", $price)}
    
    {if="$value.product_price_off != NULL"}
    {$priceOff = formatMoney($value.product_price_off)}
    {$priceOff = explode(",", $priceOff)}
    {/if}
    <a class="product-box" href="/produto/{$value.product_ref}/{$name}">
      {if="$value.product_price_off != NULL"}
      <span class="product-percentage">{$percentage} %</span>
      {/if}
      <div class="product-picture">
        <img src="./assets/produtos/{$value.product_pictures[0]}" alt="Foto do produto - {$value.product_name} | Ref: {$value.product_ref}">
      </div>
      <div class="product-brand">
        {if="$value.distributor_id > 0"}
          <span>
            <img src="./assets/distribuidores/{$value.distributor_logo}" alt="Logo do distribuidor - {$value.distributor_name}">
          </span>
        {/if}
      </div>
      <div class="product-info">
        <p class="title">{function="ucfirst($value.product_name)"}</p>
        {if="$clientOn"}
        <div class="product-price">
          
          {if="$value.product_price_off != NULL"}
          <s class="old-price">R$ <span>{$price[0]}</span><span>,{$price[1]}</span></s>
          <p>R$ <span>{$priceOff[0]}</span><span>,{$priceOff[1]}</span></p>
          {else}
          <p>R$ <span>{$price[0]}</span><span>,{$price[1]}</span></p>
          {/if}
          
        </div>
        {/if}
      </div>
    </a>
    {/loop}
  </div>
  <div class="btn-container btn-container-center">
    <a href="/produtos/ofertas" class="btn btn-center btn-circle btn-blue btn-big btn-cap">Ver todas</a>
  </div>
</div>
{/if}

<div class="products-box">
  <div class="products-box-header">
    <div class="title">
      <p>Mais vistos</p>
    </div>
  </div>

  <div class="product-box-container">
    {loop="$prodViews"}
    {$name = filterName($value.product_name)}
    
    {$percentage = getPricePercentage($value.product_price, $value.product_price_off)}
    
    {$price = formatMoney($value.product_price)}
    {$price = explode(",", $price)}
    
    {if="$value.product_price_off != NULL"}
    {$priceOff = formatMoney($value.product_price_off)}
    {$priceOff = explode(",", $priceOff)}
    {/if}
    <a class="product-box" href="/produto/{$value.product_ref}/{$name}">
      {if="$value.product_price_off != NULL"}
      <span class="product-percentage">{$percentage} %</span>
      {/if}
      <div class="product-picture">
        <img src="./assets/produtos/{$value.product_pictures[0]}" alt="Foto do produto - {$value.product_name} | Ref: {$value.product_ref}">
      </div>
      <div class="product-brand">
        {if="$value.distributor_id > 0"}
          <span>
            <img src="./assets/distribuidores/{$value.distributor_logo}" alt="Logo do distribuidor - {$value.distributor_name}">
          </span>
        {/if}
      </div>
      <div class="product-info">
        <p class="title">{function="ucfirst($value.product_name)"}</p>
        {if="$clientOn"}
        <div class="product-price">
          
          {if="$value.product_price_off != NULL"}
          <s class="old-price">R$ <span>{$price[0]}</span><span>,{$price[1]}</span></s>
          <p>R$ <span>{$priceOff[0]}</span><span>,{$priceOff[1]}</span></p>
          {else}
          <p>R$ <span>{$price[0]}</span><span>,{$price[1]}</span></p>
          {/if}
          
        </div>
        {/if}
      </div>
    </a>
    {/loop}
  </div>
  <div class="btn-container btn-container-center">
    <a href="/produtos" class="btn btn-center btn-circle btn-blue btn-big btn-cap">Ver mais</a>
  </div>
</div>

<div class="products-box">
  <div class="products-box-header">
    <div class="title">
      <p>Alguns produtos</p>
    </div>
  </div>

<div class="product-box-container">
  {loop="$prodRandom"}
  {$name = filterName($value.product_name)}
  
  {$percentage = getPricePercentage($value.product_price, $value.product_price_off)}
  
  {$price = formatMoney($value.product_price)}
  {$price = explode(",", $price)}
  
  {if="$value.product_price_off != NULL"}
  {$priceOff = formatMoney($value.product_price_off)}
  {$priceOff = explode(",", $priceOff)}
  {/if}
  <a class="product-box" href="/produto/{$value.product_ref}/{$name}">
    {if="$value.product_price_off != NULL"}
    <span class="product-percentage">{$percentage} %</span>
    {/if}
    <div class="product-picture">
      <img src="./assets/produtos/{$value.product_pictures[0]}" alt="Foto do produto - {$value.product_name} | Ref: {$value.product_ref}">
    </div>
    <div class="product-brand">
      {if="$value.distributor_id > 0"}
      <span>
        <img src="./assets/distribuidores/{$value.distributor_logo}" alt="Logo do distribuidor - {$value.distributor_name}">
      </span>
      {/if}
    </div>
    <div class="product-info">
      <p class="title">{function="ucfirst($value.product_name)"}</p>
      {if="$clientOn"}
      <div class="product-price">
        
        {if="$value.product_price_off != NULL"}
        <s class="old-price">R$ <span>{$price[0]}</span><span>,{$price[1]}</span></s>
        <p>R$ <span>{$priceOff[0]}</span><span>,{$priceOff[1]}</span></p>
        {else}
        <p>R$ <span>{$price[0]}</span><span>,{$price[1]}</span></p>
        {/if}
        
      </div>
      {/if}
    </div>
  </a>
  {/loop}
</div>
<div class="btn-container btn-container-center">
  <a href="/produtos" class="btn btn-center btn-circle btn-blue btn-big btn-cap">Ver todos</a>
</div>
</div>