<div class="container">
  <div class="reader-container">

    <div class="reader-header">
      <div class="reader-text">
        <h2>{$content}</h2>
      </div>
      <div class="reader-image">
        {if="$banner !== NULL"}
        <img src="./assets/distribuidores/{$banner}" alt="Banner da distribuidora {$content}">
        {else}
        <img src="./assets/img/banner.jpg" alt="Banner {$content}">
        {/if}
      </div>
    </div>

    <div class="header-content">
      {function="parseProductDesc($desc)"}

      {if="isset($btn) && strlen($btn) > 0"}
      <div class="btn-container btn-container-center">
        <a href="/produtos/distribuidor/{$btn}" class="btn btn-circle btn-blue btn-medium">Ver produtos</a>
      </div>
      {/if}

      {if="count($pics) > 0"}
      <div class="content-image">
        <div id="reader-pictures">
          {loop="$pics"}
          <img src="./assets/distribuidores/{$value}" alt="Imagem {$key + 1} da distribuidora {$content}">
          {/loop}
        </div>
      </div>
      {/if}
    </div>
  </div>
</div>

<script>
  window.addEventListener("load", () => {
    let footer = document.querySelector(".distributor")
    footer.style.marginTop = "-50px"
    footer.style.zIndex = "3"
    readerSlide()
  })
</script>