{$siteData = $GLOBALS["siteData"]}
<nav class="navigation {if="isset($navStyle)"}{$navStyle}{/if}">
  <div class="navigation-header">
    <div class="header-container">
      <a href="/" class="logo-image"><h1><img src="./assets/img/{$siteData['site_data_logo']}" alt="Logo {$siteData['site_data_name']}"></h1></a>
      {if="isset($_SESSION['client'])"}
      <ul class="client-submenu">
        {$client = $_SESSION["client"]["client_name"]}
        <li onclick="openSub(this, event)"><a class="btn btn-circle"><i class="icofont-ui-user"></i> {if="strlen($client) >= 15"} {function="substr($client, 0, 15)"}... {else} {$client} {/if}</a>
          <ul>
            <li><a href="/cliente/dashboard"><i class="icofont-bag"></i>Compras</a></li>
            <li><a href="/cliente/logout"><i class="icofont-logout"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
      {else}
      <a href="/cliente/login" class="btn btn-circle"><i class="icofont-sign-in"></i> Entrar</a>
      {/if}
    </div>
  </div>
  <div class="navigation-links">
    <div class="links-container">
      <ol>
        <li><o href="#" id="mobile"><i class="icofont-navigation-menu"></i></o></li>
      </ol>
      <div id="mobileNav">
        <ul class="left">
          <li><a href="/inicio">Inicio</a></li>
          <li><a href="/produtos">Produtos</a></li>
          {$departments = getDepartments()}
          {if="$departments !== NULL"}
          <li class="submenu">
            <a>Departamentos <i class="icofont-rounded-down"></i></a>
            <ul>
              {loop="$departments"}
              <li><a href="/produtos/departamento/{$value.department_href}"><i class="{$value.department_icon}"></i> {$value.department_text}</a></li>
              {/loop}
            </ul>
          </li>
          {/if}
          {$distributors = getDistributors()}
          {if="$distributors !== NULL"}
          <li class="submenu">
            <a>Distribuidoras <i class="icofont-rounded-down"></i></a>
            <ul>
              {loop="$distributors"}
              {if="$value.distributor_id > 0"}<li><a href="/distribuidor/{$value.distributor_href}">{$value.distributor_name}</a></li>{/if}
              {/loop}
            </ul>
          </li>
          {/if}
          <li><a href="/sobre">Sobre</a></li>
        </ul>
        <ul class="right">
          <li><a href="/carrinho">
            <i class="icofont-bag"></i>
            {if="isset($_SESSION['cart'])"}
              {$cart = $_SESSION["cart"]}
              {if="count($cart) > 0"}
              <span class="badge" id="cart">{function="count($cart)"}</span>
              {/if}
            {/if}
          </a></li>
          <li class="search-sub" onclick="openSub(this, event)"><a><i class="icofont-search"></i></a>
          <ul>
            <li><input autofocus type="text" name="search" placeholder="Pesquisar" onkeydown="productSearch(this.value, event)"></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>