<nav class="navigation {$navStyle}">
  <div class="navigation-header">
    <div class="header-container">
      <a href="./"><img src="./assets/img/logo.png" alt="Logo 2M Atacado"></a>
    </div>
  </div>
  <div class="navigation-links">
    <div class="links-container">
      <ul class="left">
        <li><a href="./">Inicio</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
      </ul>
      <ul class="right">
        <li><a href="#">
          <i class="icofont-bag"></i>
          {if="isset($_SESSION['cart'])"}
          <span class="badge" id="cart">0</span>
          {/if}
        </a></li>
        <li><a href="#"><i class="icofont-search"></i></a></li>
      </ul>
    </div>
  </div>
</nav>