<nav class="navigation {if="isset($navStyle)"}{$navStyle}{/if}">
  <div class="navigation-header">
    <div class="header-container">
      <a href="./"><img src="./assets/img/logo.png" alt="Logo 2M Atacado"></a>
    </div>
  </div>
  <div class="navigation-links">
    <div class="links-container">
      <ul class="left">
        <li><a href="./">Inicio</a></li>
        {$departments = getDepartments()}
        {if="$departments !== NULL"}
        <li class="submenu">
          <a>Departamentos <i class="icofont-rounded-down"></i></a>
          <ul>
            {loop="$departments"}
            <li><a href="/produtos/departamento?nome={$value.department_href}"><i class="{$value.department_icon}"></i> {$value.department_text}</a></li>
            {/loop}
          </ul>
        </li>
        {/if}
        {$departments = getDepartments()}
        {if="$departments !== NULL"}
        <li class="submenu">
          <a>Distribuidoras <i class="icofont-rounded-down"></i></a>
          <ul>
            {loop="$departments"}
            <li><a href="/distribuidor/{$value.department_href}">{$value.department_text}</a></li>
            {/loop}
          </ul>
        </li>
        {/if}
        <li><a href="/sobre">Sobre</a></li>
      </ul>
      <ul class="right">
        <li><a href="/carrinho">
          <i class="icofont-bag"></i>
          {if="isset($_SESSION['cart'])"}
            {$cart = $_SESSION["cart"]}
            {if="count($cart) > 0"}
            <span class="badge" id="cart">{function="count($cart)"}</span>
            {/if}
          {/if}
        </a></li>
        <li><a><i class="icofont-search"></i></a></li>
      </ul>
    </div>
  </div>
</nav>