<div class="container">
  <div class="products-container">

    <div class="products-container-sidebar">
      <div class="sidebar-box open">
        <span>Distribuidores <i class="icofont-simple-down"></i></span>
        <ul class="sidebar-items" style="max-height: 100vh;">
          {loop="$distribuidores"}
          <li><a href="/produtos/distribuidor/{$value.distributor_href}">{$value.distributor_name} ( {$value.products_count} )</a></li>
          {/loop}
        </ul>
      </div>
      <div class="sidebar-box open">
        <span>Departamentos <i class="icofont-simple-down"></i></span>
        <ul class="sidebar-items" style="max-height: 100vh;">
          {loop="$departamentos"}
          <li><a href="/produtos/departamento/{$value.department_href}"><i class="{$value.department_icon}"></i> {$value.department_text} ( {$value.products_count} )</a></li>
          {/loop}
        </ul>
      </div>
    </div>

    <div class="products-container-content">

      {if="count($produtos) > 0"}
      <div class="products-header-container">
        <div class="text-info">
          <h2>{$filterText}</h2>
          <span>{$prodCount} Produtos</span>
        </div>
      </div>

      <div class="product-box-container">
        {loop="$produtos"}
        {$name = filterName($value.product_name)}
        
        {$percentage = getPricePercentage($value.product_price, $value.product_price_off)}
        
        {$price = formatMoney($value.product_price)}
        {$price = explode(",", $price)}

        {if="$value.product_price_off != NULL"}
          {$priceOff = formatMoney($value.product_price_off)}
          {$priceOff = explode(",", $priceOff)}
        {/if}
        <a class="product-box" href="/produto/{$value.product_ref}/{$name}">
          {if="$value.product_price_off != NULL"}
          <span class="product-percentage">{$percentage} %</span>
          {/if}
          <div class="product-picture">
            <img src="./assets/produtos/{$value.product_pictures[0]}" alt="Foto do produto - {$value.product_name} | Ref: {$value.product_ref}">
          </div>
          <div class="product-brand">
            <span>
              <img src="./assets/distribuidores/{$value.distributor_logo}" alt="Logo do distribuidor - {$value.distributor_name}">
            </span>
          </div>
          <div class="product-info">
            <p class="title">{function="ucfirst($value.product_name)"}</p>
            <div class="product-price">

            {if="$value.product_price_off != NULL"}
              <s class="old-price">R$ <span>{$price[0]}</span><span>,{$price[1]}</span></s>
              <p>R$ <span>{$priceOff[0]}</span><span>,{$priceOff[1]}</span></p>
            {else}
              <p>R$ <span>{$price[0]}</span><span>,{$price[1]}</span></p>
            {/if}
              
            </div>
          </div>
        </a>
        {/loop}
      </div>

      <div class="pagination">
        <a class="arrow {if="$pagina <= 1"}disabled{/if}" href="{$reqUrl}?pagina={$pagina - 1}"><i class="icofont-rounded-left"></i></a>
        
        {loop="array(0,0,0)"}
        {$key = $key + 1 * $pagina}
        {if="$pagina > 1"} {$key -= 1} {/if}
        {if="$pagina == $paginas"} {$key -= 1} {/if}
        {if="$key > 0 && $key <= $paginas"}
        <a class="item {if="$pagina == $key"}active{/if}" href="{$reqUrl}?pagina={$key}">{$key}</a>
        {/if}
        {/loop}

        <a class="arrow {if="$pagina >= $paginas"}disabled{/if}" href="{$reqUrl}?pagina={$pagina + 1}"><i class="icofont-rounded-right"></i></a>
      </div>

      {else}
      <div class="product-warning">
        <span>Opss!</span>
        <p>Não encontramos nada, que tal voltar para a lista</p>
        <p>Só clicar <a href="/produtos">aqui</a></p>
      </div>
      {/if}

    </div>

  </div>
</div>