.products-box {
  width: 90%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 40px 0;
  @include select();
  &-header {
    padding: 40px 0px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    .title {
      text-align: center;
      display: inline-block;
      position: relative;
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: $grey;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        z-index: 1;
        @include transform(scale(1.1));
      }
      p {
        padding: 15px 50px;
        background: $darkblue;
        text-align: center;
        color: white;
        font-size: em(20);
        border-radius: 30px;
        display: inline-block;
        position: relative;
        z-index: 2;
      } 
    }
    &::before {
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      position: absolute;
      background: $darkblue;
      @include transform(translateY(-50%));
    }
  }
}

.product-box-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  column-gap: 30px;
  row-gap: 30px;
  &.no-bg {
    column-gap: 0;
    row-gap: 0;
    .product-box {
      border-radius: 0;
      background: transparent;
      &:hover {
        background: white;
      }
    }
  }
  &.bg {
    column-gap: 1px;
    row-gap: 1px;
    .product-box {
      background: white;
      border-radius: 0;
    }
  }
  &.bg .product-box:hover, &.no-bg .product-box:hover {
    @include boxShadow(0 0 20px rgba(0,0,0,0.2));
  }
  .product-box {
    width: calc(100% - 40px * 2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 4px;
    position: relative;
    padding: 40px;
    padding-top: 20px;
    margin: 0 auto;
    text-decoration: none;
    color: $black;
    z-index: 1;
    @include transition(all, 0.5s);
    &:hover {
      z-index: 2;
      @include boxShadow(5px 8px 20px rgba(0,0,0,0.2));
    }
    .product-percentage {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
      max-width: 50px;
      top: -18px;
      text-align: center;
      background: $darkblue;
      padding: 10px 20px;
      color: white;
      font-weight: 600;
      border-radius: 30px;
    }
    .product-picture {
      margin: 0 auto;
      padding: 20px 10px;
      width: calc(100% - 10px * 2);
      max-width: 120px;
      display: block;
      text-align: center;
      @include select();
      img {
        display: block;
        width: 100%;
      }
    }
    .product-brand {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @include select();
      span {
        display: block;
        padding: 10px 30px;
        border-radius: 30px;
        font-size: em(18);
        img {
          display: block;
          margin: 0 auto;
          width: 40px;
        }
      }
    }
    .product-info {
      .title {
        font-size: em(24);
        font-weight: 600;
        padding: 20px 0;
        text-align: center;
        color: $black;
      }
      .product-price {
        border-top: 1px solid $grey;
        padding-top: 10px;
        p {
          color: $black;
          font-weight: 400;
          font-size: em(15);
          span {
            font-size: em(25);
            font-weight: 600;
            &:last-child {
              font-size: em(20px);
            }
          }
        }
        .old-price {
          font-size: em(15);
          font-weight: 300;
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .product-box-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: $tablet) {
  .product-box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: $mobileL) {
  .product-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-box-container.bg {
    grid-template-columns: repeat(2, 1fr);
    .product-box {
      .product-info {
        .title {
          font-size: em(16);
        }
      }
    }
  }
}