@mixin transition($type, $duration) {
  transition: $type $duration;
  -webkit-transition: $type $duration;
  -moz-transition: $type $duration;
  -o-transition: $type $duration;
}

@mixin textShadow($params) {
  text-shadow: $params;
  -webkit-text-shadow: $params;
  -moz-text-shadow: $params;
  -o-text-shadow: $params;
}

@mixin boxShadow($params) {
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  -o-box-shadow: $params;
}

@mixin transform($params) {
  transform: $params;
  -webkit-transform: $params;
  -moz-transform: $params;
  -o-transform: $params;
}

@mixin filter($params) {
  filter: $params;
  -webkit-filter: $params;
  -moz-filter: $params;
  -o-filter: $params;
}

@mixin select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

@mixin gradient($type: linear, $angle: 90deg, $color1: #DDD, $color2: #333, $param1: 0%, $param2: 100%) {
  @if $type == linear {
    background: linear-gradient($angle, $color1 $param1, $color2 $param2);
    background: -webkit-linear-gradient($angle, $color1 $param1, $color2 $param2);
    background: -moz-linear-gradient($angle, $color1 $param1, $color2 $param2);
    background: -o-linear-gradient($angle, $color1 $param1, $color2 $param2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$color1}",endColorstr="#{$color2}",GradientType=1);
  } @else {
    background: radial-gradient(circle, $color1 $param1, $color2 $param2);
    background: -webkit-radial-gradient(circle, $color1 $param1, $color2 $param2);
    background: -moz-radial-gradient(circle, $color1 $param1, $color2 $param2);
    background: -o-radial-gradient(circle, $color1 $param1, $color2 $param2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$color1}",endColorstr="#{$color2}",GradientType=1);
  }
}