$darkblue: #1A3795;
$mediumblue: #337DEC;
$lightblue: #67C1FF;

$black: #232323;
$red: #EE4148;
$orange: #FEA852;
$grey: #EEEEEE;

$default: #172b4d;
$primary: #5e72e4;
$secondary: #f4f5f7;
$info: #11cdef;
$success: #2dce89;
$danger: #f5365c;
$warning: #fb6340;

$maxWidth: 1420px;

$tablet: 768px;
$mobileL: 425px;
$mobileS: 350px;