$darkblue: #1A3795;
$mediumblue: #337DEC;
$lightblue: #67C1FF;

$black: #232323;
$red: #EE4148;
$orange: #FEA852;
$grey: #EEEEEE;

$maxWidth: 1420px;

$tablet: 768px;
$mobileL: 425px;
$mobileS: 350px;