.distributor {
  background: $mediumblue;
  padding: 20px;
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  position: relative;
  a.slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }
  &-slider {
    text-align: center;
    padding: 10px 20px;
    width: calc(95% - 20px * 2);
    margin: 0 auto;
    position: relative;
    z-index: 2;
    img {
      width: 120px;
      @include filter(grayscale(1) invert(1));
      @include transition(all, 0.5s);
      &:hover {
        @include filter(grayscale(0));
      }
    }
  }
  &-controls {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    @include transform(translateY(-50%));
    span {
      font-size: em(60);
      color: white;
      cursor: pointer;
      @include transition(all, 0.5s);
      &:hover {
        @include transform(scale(1.1));
      }
    }
  }
}

.footer {
  background: $darkblue;
  width: calc(100% - 20px * 2);
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $grey;
  &-logo {
    width: 100px;
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    @include select();
    img {
      width: 100%;
      display: block;
    }
  }
  &-info, &-contact {
    margin-bottom: 20px;
    ul {
      text-align: center;
      li {
        margin-bottom: 10px;
        &.payments {
          font-size: em(40);
          margin-top: 20px;
          display: flex;
          align-items: center;
          @include select();
          > i {
            margin: 0 10px;
            &.icofont-elo, &.icofont-real {
              display: inline-block;
              width: 40px;
              height: 40px;
              @include filter(invert(1) brightness(100));
            }
            &.icofont-elo {
              background: url("../payments/elo.svg") no-repeat center center;
            }
            &.icofont-real {
              background: url("../payments/real.svg") no-repeat center center;
              background-size: 25px;
            }
          }
        }
      }
    }
  }
}

.footer-rights {
  padding: 30px 20px;
  background: $mediumblue;
  text-align: center;
  p {
    color: white;
  }
}

@media(max-width: $mobileL) {
  .footer {
    &-info, &-contact {
      ul li {
        font-size: em(12);
      }
    }
  }
}