.navigation {
  &.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 400px;
    width: 90%;
    .navigation-header {
      .header-container {
        a {
          $w: 150px;
          margin-top: - $w / 2;
          width: $w;
        }
      }
    }
    .navigation-links {
      .links-container {
        padding: 20px 0;
      }
    }
  }
  z-index: 10;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  @include select();
  @include transition(all, 0.5s);
  @include boxShadow(5px 8px 20px rgba(0,0,0,0.2));
  &-header {
    background: $darkblue;
    width: 100%;
    margin: 0 auto;
    .header-container {
      margin: 0 auto;
      padding: 20px 0;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: $maxWidth;
      margin: 0 auto;
      a {
        width: 70px;
        @include transition(all, 0.5s);
        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
  &-links {
    background: $mediumblue;
    width: 100%;
    margin: 0 auto;
    .links-container {
      margin: 0 auto;
      padding: 15px;
      width: calc(90% + 10px * 2);
      display: flex;
      align-content: center;
      justify-content: space-between;
      max-width: $maxWidth + 10px * 2;
      @include transition(all, 0.5s);
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          display: inline-block;
          a {
            display: block;
            padding: 15px 20px;
            text-decoration: none;
            color: white;
            border-radius: 4px;
            @include transition(background, 0.5s);
          }
        }
        &.left li a {
          margin: 0 10px;
          &:hover {
            background: $darkblue;
          }
        }
        &.right li a {
          font-size: 22px;
          position: relative;
          &:first-child {
            margin-left: 20px;
          }
          .badge {
            position: absolute;
            top: -5px;
            right: -5px;
            font-size: 12px;
            background: $red;
            padding: 5px;
            text-align: center;
            min-width: calc(26px - 5px * 2);
            border-radius: 4px;
          }
        }
      }
    }
  }
}