.container {
  .departments {
    padding: 80px 0;
    width: 90%;
    max-width: $maxWidth;
    margin: 0 auto;
    margin-top: 160px;
    h2 {
      font-size: em(34px);
      font-weight: 400;
      color: $black;
    }
    &-container {
      margin-top: 20px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      @include select();
      .box {
        $size: 90px;
        background: $mediumColor;
        width: $size;
        height: $size;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        color: white;
        margin: 0 10px;
        outline: none;
        &:first-child {
          margin-left: 0;
        }
        @include transition(all, 0.5s);
        .icon {
          i {
            font-size: em(40px);
            @include transition(all, 0.5s);
          }
        }
        .text {
          opacity: 0;
          font-size: 0;
          text-align: center;
          @include transition(all, 0.5s);
        }
        &:hover {
          background: $darkColor;
          @include transform(rotate(360deg));
          .icon {
            i {
              font-size: em(20px);
            }
          }
          .text {
            opacity: 1;
            font-size: em(14px);
            padding: 4px 0;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.products-card {
  width: 90%;
  margin: 0 auto;
  max-width: $maxWidth;
}

@media(max-width: 1200px) {
  .container {
    .departments {
      margin-top: 0;
    }
  }
}

@media(max-width: $mobileL) {
  .container {
    .departments {
      &-container {
        .box {
          $size: 70px;
          width: $size;
          height: $size;
          &:hover {
            @include transform(rotate(0));
          .icon {
            i {
              font-size: em(20);
            }
          }
          .text {
            font-size: em(12);
          }
          }
          .icon {
            i {
              font-size: em(20);
            }
          }
          .text {
            padding: 4px 0;
            font-size: em(12);
            opacity: 1;
            font-weight: 600;
          }
        }
      }
    }
  }
}