.offline-container {
  background: $mediumblue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .offline-content {
    max-width: $maxWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 20px * 2);
    min-height: calc(100vh - 20px * 2);
    h1 {
      font-size: em(38);
      text-align: center;
      line-height: 1.4em;
      color: white;
      @media (max-width: 500px) {
        & {
          font-size: em(24);
        }
      }
    }
    a {
      margin-top: 60px;
    }
  }
}