.container {
  .products-container {
    min-height: calc(100vh - 780px);
    display: flex;
    &-sidebar {
      background: white;
      width: calc(50% - 20px * 2);
      max-width: 300px;
      padding: 20px;
      .sidebar-box {
        margin-top: 20px 40px;
        padding: 20px 0;
        &.open {
          span i {
            @include transform(rotate(180deg));
          }
          .sidebar-items {
            opacity: 1;
            li {
              opacity: 1;
              i {
                margin-right: 5px;
              }
            }
          }
        }
        span {
          font-size: em(22);
          font-weight: 600;
          display: block;
          padding: 20px;
          background: $darkblue;
          color: white;
          border-radius: 4px;
          cursor: pointer;
          @include select();
          i {
            float: right;
            @include transition(all, 0.5s);
          }
        }
        .sidebar-items {
          margin-top: 10px;
          overflow: hidden;
          opacity: 1;
          transform-origin: top;
          max-height: 0;
          @include transition(all, 0.5s);
          li {
            display: block;
            opacity: 0;
            @include transition(all, 0.5s);
            a {
              display: block;
              padding: 10px 20px;
              color: $black;
              text-decoration: none;
              font-size: em(18);
              margin-top: 10px;
              border-radius: 4px;
              @include transition(all, 0.5s);
              &:hover {
                color: white;
                background: $darkblue;
              }
            }
          }
        }
      }
    }
    &-content {
      width: calc(100% - 40px * 2);
      max-width: $maxWidth;
      padding: 40px;
      margin: 0 auto;
      .products-header-container {
        padding: 20px 0;
        margin-bottom: 20px;
        .text-info {
          h2 {
            font-size: em(40);
          }
          span {
            display: block;
            margin-top: 20px;
            font-size: em(22);
          }
        }
      }
      .product-box-container {
        grid-template-columns: repeat(3, 1fr);
      }
      .product-warning {
        margin: 0 auto;
        padding: 80px 0;
        width: 80%;
        span {
          font-size: em(36);
          display: block;
          text-align: center;
          padding: 20px 0;
        }
        p {
          text-align: center;
          font-size: em(24);
          margin-bottom: 10px;
          font-weight: 300;
          a {
            font-weight: 400;
            text-decoration: none;
            color: $mediumblue;
            @include transition(all, 0.5s);
            &:hover {
              color: $darkblue;
            }
          }
        }
      }
    }
    .pagination {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      a {
        text-decoration: none;
      }
      .disabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
      }
      .arrow, .item {
        $size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: $size - 20px;
        height: $size - 20px;
        margin: 5px;
        font-size: em(18);
        cursor: pointer;
        @include transition(all, 0.5s);
      }
      .arrow {
        background: $darkblue;
        color: white;
        border-radius: 50%;
        font-size: em(30);
        margin: 5px 20px;
        &:hover {
          background: $mediumblue;
        }
        &:first-child {
          letter-spacing: 3px;
        }
        &:last-child {
          letter-spacing: -3px;
        }
      }
      .item {
        color: $black;
        font-weight: 600;
        border-radius: 4px;
        &:hover {
          background: $mediumblue;
          color: white;
        }
        &.active {
          background: $darkblue;
          color: white;
          padding: 25px;
          &:hover {
          background: $mediumblue;
          }
        }
      }
    }
  }
}

#mobileSearch {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 20px;
  @include boxShadow(5px 7px 20px rgba(0,0,0,0.1));
  label {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 auto;
    @include transform(translateY(-50%));
    padding: 20px;
    i {
      font-size: em(24);
      color: #777;
    }
  }
  input {
    border: 0;
    padding: 20px;
    padding-left: 65px;
    width: calc(100% - 20px - 65px);
  }
}

@media(max-width: 1200px) {
  .product-box-container {
    grid-template-columns: repeat(2, 1fr)!important;
  }
}

@media(max-width: 960px) {
  .container .products-container .products-container-sidebar {
    display: none;
  }
  #mobileSearch {
    display: block;
  }
}

@media(max-width: $tablet) {
  .container .products-container .products-container-content {
    padding: 20px;
    width: calc(90% - 20px * 2);
  }
  .pagination {
    .item {
      font-size: em(14)!important;
    }
  }
}

@media(max-width: $mobileL + 180px) {
  .product-box-container {
    grid-template-columns: repeat(1, 1fr)!important;
  }
}

@media(max-width: $mobileS) {
  .pagination {
    .arrow, .item {
      $size: 20px;
      width: $size - 20px!important;
      height: $size - 20px!important;
    }
  }
}